{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'account/dash.css' %}">
  <title>Dashboard</title>
</head>
<body>
  <div class="header">
    <form method="get" action="{% url 'dashboard' %}">
        <input type="text" name="q" placeholder="Search files...">
        <button type="submit">Search</button>
    </form>
    <div class="header-links">
        <a href="{% url 'password_change' %}">Change Password</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
  </div>

  <div class="container">
    <h1>Welcome to the Dashboard {{ request.user.username }}</h1>

    <h2>Uploaded Files</h2>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <ul>
        {% for file in files %}
            <li>
                <strong>{{ file.title }}</strong> - {{ file.description }}
                <br>
                <a href="{% url 'download_file' file.id %}" download>Download</a>
                <a href="{% url 'send_file' file.id %}">Send via Email</a>
            </li>
        {% endfor %}
    </ul>
  </div>
</body>
</html>
